body {
  /* background-color: #eee; */
}

.content-items {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}

@keyframes underline_view {
  0% {  }
}

.content-items input.brand-name {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 3px solid transparent;
  font-size: 25px;
  padding: 5px;
  transition: 0.7s;
  transition-property: border-bottom;
  transition-timing-function: ease-in;
}

.content-items input.brand-name:focus {
  border-bottom: 3px solid #0d6efd;
}

.item-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-items .item-block img {
  width: 100%;
}

.item-block .img-container {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-image: url('../items/61VeA-UsG0L.__AC_SY300_SX300_QL70_FMwebp_.webp');
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}